:root {
  --sidenavsize: 21%;
}

html,body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Lato", sans-serif;
}
  
#CV{
  color: rgba(234, 242, 227, 0.6);
  font-size: 3.4rem;
  margin: 14px;
}

#CV:hover {
  text-decoration:underline;
}

a{
  text-decoration: none;
}

  .sidenav {
    height: 100%;
    width: var(--sidenavsize);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000505;
    overflow-x: hidden;
    padding-top: 2vh;
    display: none;
  }
  
  .sidenav a {
    padding: 0.62vh 0.42vw 0.62vh 0.83vw;
    margin: 30% 0 30% 0;
    text-decoration: none;
    font-size: 12px;
    color: #5D5D81;
    display: block;
  }

  .sidenav img{
    padding: 0.62vh 0.42vw 0.62vh 0.83vw;
    margin: 30% 0 30% 0;
    display: block;
    width: 80%;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
    background-color: #3B3355;
  }
  .cd-section {
    /* vertically align its content*/
    display: table;
    width: 100%;
    height: 100vh;
    background: #3a2c41;
  }
  .cd-section:nth-of-type(even) {
    background-color: #70557e;
  }
  .cd-section > div {
    /* vertically align <div> inside <section> */
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  .cd-section h1, .cd-section h2 {
    width: 90%;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 2.4rem;
    line-height: 1.4;
  }
  .cd-section h1 b, .cd-section h2 b {
    color: #584c5e;
  }
  .cd-section p {
    margin: 1em auto 1em;
    line-height: 1.6;
    width: 90%;
    max-width: 680px;
    color: rgba(234, 242, 227, 0.6);
  }
  .gitLogo {
    width: 30%;
    margin: 8px;
  }

  .projetImg{
    width: 80%;
  }

  #section6 a{
    text-decoration: none;
    color: black;
  }

  #section6 a:hover {
    text-decoration: underline;
  }
  @media only screen and (min-width: 1080px) {
    .cd-section h1, .cd-section h2 {
      font-size: 3rem;
    }
    .cd-section p {
      font-size: 2rem;
    }
    :root {
      --sidenavsize: 10%;
    }
    .sidenav {
      height: 100%;
      width: var(--sidenavsize);
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #000505;
      overflow-x: hidden;
      padding-top: 2vh;
      display: flex;
    }
    .main{
      margin-left: var(--sidenavsize);
    }
    .sidenav a {
      padding: 0.62vh 0.42vw 0.62vh 0.83vw;
      margin: 30% 0 30% 0;
      text-decoration: none;
      font-size: 25px;
      color: #5D5D81;
      display: block;
    }
  
    .sidenav img{
      padding: 0.62vh 0.42vw 0.62vh 0.83vw;
      margin: 30% 0 30% 0;
      display: block;
    }
    
    .gitLogo {
      width: 7%;
    }

    .projetImg{
      width: 33%;
      max-width: 550px;
      max-height: 440px;
    }
    
  }
  
  /* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } */