#root {
  width: 100%;
}

.app {
  position: relative;
  width: 100%;
  min-height: 100svh;
  overflow: hidden;
  cursor: none;

}

.conic-ray-background {
  position: absolute;
  inset: 0;
  --ray-angle: 180deg;
  --ray-color: hsl(var(--ray-angle) 100% 50%);
}

.conic-ray-background__gradient {
  width: 100%;
  height: 100%;
  background-image: conic-gradient(
    from calc(var(--ray-angle) - 181.5deg),
    #000000 148deg 152deg,
    var(--ray-color) 180deg 183deg,
    #000000 205deg 208deg
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: 160vmax 160vmax;
}
